<%= render partial: 'articles/menu' %>
<div class="blog">
    <div class="container">
        <div class="panel panel-default widoczek art">
            <h1>Edytuj Twój wpis</h1>
            </br></br>
            
            <%= render partial: 'form' %>
                       </br></br>
            <div class="panel-footer">
            <a><%= link_to 'Wróć', articles_path %></a>
            </div>
            
        </div>
    </div>
</div>