<div class="blog-log">
    <div class="container">
        <div class="panel panel-default widoczek log">
        <h1>Editing Author</h1>
        
        <%= render 'form' %>
          <div class="panel-footer">
        
        <%= link_to 'Wróć', authors_path %>
        
   </div>
   </div>
  </div>
</div>

