<div class="blog-log">
    <div class="container">
        <div class="panel panel-default widoczek log">
            <h1>Nowy moderator</h1>
                </br>
        <%= render 'form' %>
    <div class="panel-footer">
        <a><%= link_to 'Wróć', authors_path %></a>
    </div>
   </div>
  </div>
</div>

