     <nav class="navigation">
        <div class="container" id="nav">
             <ul>
                 <li><a href="#o-firmie">o firmie</a></li>
                 <li><a href="#kontakt">kontakt</a></li>
                 <li><a href="/"><img src="/assets/logo.png" alt="logo" ></a></li>
                 <li><a href="#galeria">galeria</a></li>
                 <li><%= link_to "blog", articles_path %></li>
             </ul>
        </div>
     </nav>
     
<div class="sect sectOne">
    
 
</div>

<div class="subSection">
    <a id="o-firmie"></a>
    <div class="container">
        
        <div class="row" id="ofirmie">
            <h2>O firmie</h2></br>
            <div class="col-sm-6 col-md-7">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec odio augue, scelerisque nec semper non, varius in dolor. Integer vehicula tellus dictum justo posuere, ut tincidunt odio sodales. Donec dignissim lobortis sagittis. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec orci ex, tempus non efficitur vel, vestibulum vel augue. Pellentesque diam tortor, interdum quis molestie a, faucibus quis nunc. Aenean vel nibh porta, luctus enim a, pellentesque diam. Nam quis felis id sem tincidunt gravida in volutpat ipsum. Ut ornare erat vitae arcu blandit finibus. Curabitur maximus non purus vel dictum. Donec venenatis metus varius sagittis lacinia. In hac habitasse platea dictumst.</p>
            </div>
            <div class="col-md-4">
                <div class="ewd_social hidden-xs">
                    <div id="style-1">
                      <a class="facebook" href="#"><i class="fa fa-facebook fa-3x"></i></a>
                      <a class="twitter" href="#"><i class="fa fa-twitter fa-3x"></i></a>
                      <a class="instagram" href="#"><i class="fa fa-instagram fa-3x"></i></a>
                      <a class="google" href="#"><i class="fa fa-google-plus fa-3x"></i></a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</div>

<div class="sect sectTwo">
    
</div>
<div class="subSection">
 <a id="kontakt"></a>
  <div class="container">
      
        <div class="row" id="contact">
            <h2>Kontakt</h2></br>
            <div class="col-sm-6 col-md-4">
                </br>
                <p><span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span><b> Telefon</br></b> 333-666-999</p>
                <p><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span><b> E-mail</b> </br>example@gmail.com</p>
                
            </div>
            
            <div class="col-sm-6 col-md-4">
                </br>
                <p><span class="glyphicon glyphicon-home" aria-hidden="true"></span><b> Adres:</b></br>Ul. Krakowska 25/3</br> Kraków 30-535</p>
                <p><span class="glyphicon glyphicon-time" aria-hidden="true"></span><b> Godziny otwarcia:</b></p>
                <p> Pn-Pt: 08:00-18:00</br>
                Sobota: 10:00-15:00</p>
            </div>
            
            <div class="col-md-4">
                <div id="googleMap" style="width:100%;height:300px;"></div>
            </div>
        </div>
        
    </div>
</div>

<div class="sect sectThree">
    
</div>

<!---- gallery ----->

<div class="subSection" id="gallery">
    <a id="galeria"></a>
    <div class="container">
        
        <div class="row" >
        <h2>galeria</h2>
        <div class="thumbs">
                <a href="http://farm8.staticflickr.com/7013/6754656011_3de2cc73a2_z.jpg" style="background-image:url(http://farm8.staticflickr.com/7013/6754656011_3de2cc73a2_m.jpg)" title="Lion Rock"></a>
    	        <a href="http://farm8.staticflickr.com/7042/6895252645_45f5dfffaa_z.jpg" style="background-image:url(http://farm8.staticflickr.com/7042/6895252645_45f5dfffaa_m.jpg)" title="Holsten Gate"></a>
    	        <a href="http://farm8.staticflickr.com/7183/6943277737_21b521659c_z.jpg" style="background-image:url(http://farm8.staticflickr.com/7183/6943277737_21b521659c_m.jpg)" title="Blue Hour"></a>
    	        <a href="http://farm8.staticflickr.com/7047/7000951429_5eae078a62_z.jpg" style="background-image:url(http://farm8.staticflickr.com/7047/7000951429_5eae078a62_m.jpg)" title="Waikato Landscape"></a>
    	        <a href="http://farm6.staticflickr.com/5346/7051537899_efc7a44830_z.jpg" style="background-image:url(http://farm6.staticflickr.com/5346/7051537899_efc7a44830_m.jpg)" title="Tauranga Bridge"></a>
    	        <a href="http://farm8.staticflickr.com/7268/6951148260_440661b4d1_z.jpg" style="background-image:url(http://farm8.staticflickr.com/7268/6951148260_440661b4d1_m.jpg)" title="East Coast"></a>
    	        <a href="http://farm8.staticflickr.com/7259/6930112984_5fcc076288_z.jpg" style="background-image:url(http://farm8.staticflickr.com/7259/6930112984_5fcc076288_m.jpg)" title="Cathedral Cove"></a>
    	        <a href="http://farm8.staticflickr.com/7276/6886626710_047cd03acb_z.jpg" style="background-image:url(http://farm8.staticflickr.com/7276/6886626710_047cd03acb_m.jpg)" title="The Pond"></a>
    	        <a href="http://farm8.staticflickr.com/7020/6683299491_f2b5f6aa8b_z.jpg" style="background-image:url(http://farm8.staticflickr.com/7020/6683299491_f2b5f6aa8b_m.jpg)" title="Good Night"></a>
        </div>
        </div>
        
    </div>

    
</div>


<div class="sect sectFour">
    
</div>


   <footer class="footer">

            &copy;<%= link_to  'Roksana Wantulok, 2017', root_path %>

    </footer>
<script>
    scroll();
</script>

<script>
    mapa();
</script>
<script>
 touchTouch();

</script>


